absl-py==2.1.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
asttokens==3.0.0
autocommand==2.2.2
backports.tarfile==1.2.0
berkeley-humanoid==0.1.0
boto3==1.35.92
botocore==1.35.92
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
contourpy==1.3.1
cycler==0.12.1
decorator==4.4.2
docker-pycreds==0.4.0
einops==0.8.0
exceptiongroup==1.2.2
executing==2.2.0
farama-notifications==0.0.4
filelock==3.13.1
flatbuffers==25.2.10
fonttools==4.55.3
fsspec==2024.2.0
future==1.0.0
gitdb==4.0.12
gitpython==3.1.44
grpcio==1.69.0
gym-notices==0.0.8
gym==0.23.1
gymnasium==1.0.0
h5py==3.12.1
hidapi==0.14.0.post2
huggingface-hub==0.27.1
humanfriendly==10.0
hydra-core==1.3.2
idna==3.10
imageio-ffmpeg==0.5.1
imageio==2.36.1
importlib-metadata==8.0.0
importlib-resources==6.4.0
inflect==7.3.1
ipython==8.32.0
ipywidgets==8.1.5
isaaclab-assets==0.2.1
isaaclab-mimic==1.0.3
isaaclab-rl==0.1.1
isaaclab-tasks==0.10.27
isaaclab==0.36.3
isaacsim-app==4.5.0.0
isaacsim-asset==4.5.0.0
isaacsim-benchmark==4.5.0.0
isaacsim-code-editor==4.5.0.0
isaacsim-core==4.5.0.0
isaacsim-cortex==4.5.0.0
isaacsim-example==4.5.0.0
isaacsim-extscache-kit-sdk==4.5.0.0
isaacsim-extscache-kit==4.5.0.0
isaacsim-extscache-physics==4.5.0.0
isaacsim-gui==4.5.0.0
isaacsim-kernel==4.5.0.0
isaacsim-replicator==4.5.0.0
isaacsim-rl==4.5.0.0
isaacsim-robot-motion==4.5.0.0
isaacsim-robot-setup==4.5.0.0
isaacsim-robot==4.5.0.0
isaacsim-ros1==4.5.0.0
isaacsim-ros2==4.5.0.0
isaacsim-sensor==4.5.0.0
isaacsim-storage==4.5.0.0
isaacsim-template==4.5.0.0
isaacsim-test==4.5.0.0
isaacsim-utils==4.5.0.0
isaacsim==4.5.0.0
iso8601==2.1.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
jinja2==3.1.3
jmespath==1.0.1
jupyterlab-widgets==3.0.13
kiwisolver==1.4.8
markdown==3.7
markupsafe==2.1.5
matplotlib-inline==0.1.7
matplotlib==3.10.0
more-itertools==10.3.0
moviepy==1.0.3
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
omegaconf==2.3.0
omni-isaac-lab-assets==0.1.4
omniverse-kit==106.5.0.162521
onnx==1.16.1
onnxruntime==1.20.1
opencv-python==4.10.0.84
openvr==2.5.101
osqp==0.6.7.post3
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathtools==0.1.2
pillow==11.0.0
pip==25.0.1
platformdirs==4.3.6
prettytable==3.3.0
proglog==0.1.10
promise==2.3
prompt-toolkit==3.0.50
protobuf==3.20.3
psutil==5.9.8
pure-eval==0.2.3
pydantic-core==2.27.2
pydantic==2.10.4
pygame==2.1.0
pyglet==1.5.31
pygments==2.19.1
pyopengl==3.1.9
pyparsing==3.2.1
pyperclip==1.9.0
pyqt5-qt5==5.15.2
pyqt5-sip==12.17.0
pyqt5==5.15.11
pyqtgraph==0.13.7
pyreadline3==3.5.4
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pyyaml==6.0.2
qdldl==0.1.7.post5
regex==2024.11.6
requests==2.32.3
rl-games==1.6.1
rsl-rl-lib==2.3.0
rsl-rl==2.0.2
s3transfer==0.10.4
safetensors==0.5.0
scipy==1.15.0
sentry-sdk==2.19.2
serial==0.0.97
setproctitle==1.3.4
setuptools==75.1.0
shortuuid==1.0.13
six==1.17.0
skrl==1.4.3
smmap==5.0.2
sniffio==1.3.1
stable-baselines3==2.4.0
stack-data==0.6.3
starlette==0.46.0
sympy==1.13.1
tensorboard-data-server==0.7.2
tensorboard==2.18.0
tensorboardx==2.6.2.2
tokenizers==0.21.0
toml==0.10.2
tomli==2.2.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.1
trimesh==4.5.3
typeguard==4.3.0
typing-extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
wandb==0.12.21
warp-lang==1.5.1
wcwidth==0.2.13
werkzeug==3.1.3
wheel==0.44.0
widgetsnbextension==4.0.13
zipp==3.19.2